<launch>
  <arg
    name = "recordBag"
    default = "true"
    />
   <arg name="map_file" default="$(find warehouse_robot)/data/maps/ariac.yaml"/>
   <include file="$(find warehouse_robot)/launch/ariac_world.launch">
   <arg name="model" value="waffle_pi"/>
   </include>
   <include file="$(find open_manipulator_with_tb3_tools)/launch/slam.launch">
    <arg name="model" value="waffle_pi"/>
   </include>
   <include file="$(find open_manipulator_with_tb3_tools)/launch/manipulation.launch">
   <arg name="model" value="waffle_pi"/>
   </include>
   <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
   <node
  pkg = "rosbag"
  type = "record"
  name = "record"
  args = "-a -O $(find warehouse_robot)/results/record.bag -x /camera/(.*)"
  if = "$(arg recordBag)"
  />
</launch>
